/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

:root {
  --bkg-color-light: #e5e5e5;
  --bkg-color-dark: #0c061e;
  --bkg-color-darker: #202020;
  --display-color-01: #e70388;
  --display-color-02: #23c0ec;
  --display-color-03: #7a2a8d;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  background-color: var(--bkg-color-light);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* styles */

.main-container {
  min-height: 100vh;
}

.top {
  background-color: #fff;
}
.top-wrapper {
  padding: 1rem;
}

.search-wrapper {
  padding: 2rem 0 2rem;
  background-color: var(--bkg-color-dark);
  text-align: center;
  color: var(--bkg-color-light);
}

.search-wrapper h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.search-box {
  display: flex;
  align-items: stretch;
  border: 2px solid var(--display-color-01);
  /* background-color: #000; */
  /* padding: 1rem; */
}

.search-input,
.search-btn {
  width: 100%;
  font-size: 1rem;
}

.search-input {
  padding: 1rem;
  font-weight: 600;
  outline: 0;
  border: 0;
  color: var(--bkg-color-darker);
}
.search-input:focus {
  background-color: #fde4f3;
}
.search-input::placeholder {
  color: #999;
}

.search-btn {
  color: #fff;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  width: 30%;

  background-color: var(--display-color-01);
  transition: background-color 300ms linear;
}

.search-btn:hover {
  background-color: #ccc;
}

.search-result {
  margin: 0 0 2rem;
}
.result-wrapper {
  padding: 2rem;
  background-color: aliceblue;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
}
.not-found {
  color: var(--display-color-01);
}

.item {
  margin: 2rem 0;
  background-color: #fff;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 20px -12px rgba(0, 0, 0, 0.79);
}
.thumbnail {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.character-name {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.link-info {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  color: #fff;
  width: 170px;
  margin: 0 auto;
  background-color: var(--display-color-03);
  transition: background-color 300ms;
}

.link-info:hover {
  background-color: #b933d9;
}

/* Modal */

.details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bkg-color-dark);
  color: var(--bkg-color-light);
  text-align: center;
  width: 92%;
  height: 92%;
  overflow-y: scroll;
  border-radius: 1rem;
  display: none;
}

.details-modal::-webkit-scrollbar {
  width: 10px;
}
.details-modal::-webkit-scrollbar-thumb {
  background-color: var(--display-color-02);
  border-radius: 2rem;
}

.showModal {
  display: block;
}
.modal-wrapper {
  max-width: 1280px;
  padding: 2rem;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: block;
  text-decoration: none;
  color: var(--bkg-color-light);
  background-color: var(--display-color-01);
  font-size: 12px;
  font-weight: 700;
  padding: 0.5em;
}

.character-title,
.character-series,
.character-events {
  color: var(--display-color-02);
  letter-spacing: 1px;
}

.character-title {
  font-size: 22px;
  padding: 1rem 0 2rem;
  line-height: 1em;
  text-transform: uppercase;
  font-style: italic;
}

.character-series,
.character-events {
  font-size: 1.125rem;
  padding: 1rem 0;
}

.character-description {
  font-size: 1rem;
  line-height: 1.5em; /* 24px / 16px */
}

.character-info ul li {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4285em;
  font-style: italic;
  margin: 0 0 0.625rem 0;
}

.character-img {
  padding: 0 0 10px 0;
}
.character-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .result-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .item {
    margin: 0;
  }
  .details-modal {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .result-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
